<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>韋恩電商</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>韋恩電商</h1>
<ul>
  <li><a href="./query_products">商品列表</a></li>
  <li>訂單功能
    <ul>
  <li><a href="./create_order">購買商品</a></li>
  <li><a href="./query_order">訂單查詢</a></li>
    </ul>
  </li>
  <li>商品功能
    <ul>
      <li><a href="./query_product">查詢商品</a></li>
      <li><a href="./create_product">新增商品</a></li>
      <li><a href="./update_product">更新商品</a></li>
      <li><a href="./delete_product">刪除商品</a></li>
    </ul>
  </li>
</ul>
</body>
</html>